<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />
    <title>Agasallo | Error</title>
    <style>html,body{ position:relative; height:100%;} body{ display: flex; justify-content: center; align-items: center; font-size: 16px; font-weight: normal; font-family: "Consolas",monospace; background: linear-gradient(120deg, #bd87e9, #4dc7c7); color: white; overflow: hidden;} .info{ width: 22rem; height: 10rem;}</style>
</head>
<body>
    <section class="info">
        <h3>Agasallo error</h3>
        <p>The code is not public, please contact with admin.</p>
    </section>
</body>
</html>